.footer{
    background: var(--clr-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.footer_links{
    width: 90%;
    display: flex;
    justify-content: center;

}

.social_media{
    width: 90%;    
    margin: 0 auto;;

}
.footer_links_wrapper{
display: flex;
flex-direction: row;
}
.footer_link_item{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    width: 10rem;
    box-sizing: border-box;
    transition: var(--transition);
}
.footer_link_item a:hover{
    color: var(--clr-Oranage);
    transition: var(--transition);
    transform: scale(1.1);
}
.social_media_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 2rem auto 1rem auto;
}
.social_media_wrapper > p{
    color: var(--clr-White);

}
.social_media_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20rem;
}
.social_media_icons a{
    color: var(--clr-pink);
    font-size: 2rem;
    transition: var(--transition);
}
.social_media_icons a:hover{
    color: var(--clr-White);
    transition: var(--transition);
    transform: scale(1.5);
}
.social_media_link{
    font-size: 2rem;
}
.footer_link_item h2{
    color: var(--clr-White);
    padding-bottom: 1rem;
}
.footer_link_item a{
    text-decoration: none;
    margin-bottom: .5rem;
    color: var(--clr-Blue);
    font-size: 1.2rem;
}