:root{
    --font-style: "raleway", "sans-serif";
    
    --clr-Dark-Blue: #002856;
    --clr-Blue: #0093C9;
    --clr-Green: #80bc00;

    --clr-Oranage: #FF4D00;
    --clr-Yellow: #FDE021;
    --clr-Black: #231F20;
    --clr-White: #FFFFFF;
}
/* NAVBAR */
.navbar{
    color: var(--clr-grey);
    height: 6rem;
    top: 0;
    font-size: 1.25rem;
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: center;
}
.navbar_wrapper{
   display: flex;
    justify-content : space-between;
    height: 100%; 
    width: 100%; 
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 1;
    background-color: var(--clr-Black);
}
.navbar_menu_container{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar_link{
    height: 100%;
    margin: 3rem;
    font-size: xx-large;
    text-decoration: none;
}
.navbar_link:nth-child(2){
    margin-right: 1rem;
}
.navbar_link_item{
    color: white;
    display : flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none; 
    width: 6rem;
    transition: all 0.3s ease;
}
#navbar_logo{
    color: var(--clr-White);
    background-size: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: x large;
    /*background*/
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#navbar_logo:hover{
   transition: all 0.5s ease-in-out;
   transform: scale(1.05);
}


.navbar_link_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% ;
    padding: 0 1rem;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    height: 50%;
}
.navbar_button:hover{
    color: rgb(15, 15, 15);
    transition: ease-in-out;
    transform: scale(1.1);
}
.navbar_link_item:hover{
    color: var(--clr-Blue);
    transition: ease-in-out;
    transform: scale(1.3);
}
        





