:root{
    --font-style: "raleway", "sans-serif";
    
    --clr-Dark-Blue: #002856;
    --clr-Blue: #0093C9;
    --clr-Green: #80bc00;

    --clr-Oranage: #FF4D00;
    --clr-Yellow: #FDE021;
    --clr-Black: #231F20;
    --clr-White: #FFFFFF;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: var(--font-style);
scroll-behavior: smooth;

}
#navbar_logo img {
    display: block;
    max-width: 10%;
    max-height: 70%;
    min-width: 8%;
    min-height: 65%;
    margin-left: 1rem;
}
/* NAVBAR */
/* GENERAL NAVBAR STYLING */
.navbar {
    width: 100%;
    height:4rem;
    background-color: #1e1e2f; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    font-family: var(--font-style);
    
}

/* NAVBAR WRAPPER */
.navbar_wrapper {
    height: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
#navbar_logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#navbar_logo:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.2);
}

#navbar_logo img {
    width: 50px;
    height: auto;
}

/* MOBILE MENU ICON */
.navbar_logo {
    display: none; /* Hide for desktop */
    flex-direction: column;
    cursor: pointer;
}


.navbar_logo .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* NAV MENU LINKS */
.navbar_menu_container {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: right;
    align-items: right;
    font-weight: 900;
}

.navbar_link_item {
    text-decoration: none;
    color: white;
    transition: 0.3s;

}

.navbar_link_item:hover {
    color: var(--clr-Green); /* Hover color */
    border-bottom: 2px solid var(--clr-Green);
    transform: scale(1.2);
}

 /* CAROUSEL SECTION */
 /* .Carousel-slide img{
    display: none;
    width: 100%;
 }
 .Carousel-slide img.active{
    display: block;
 }
 .Carousel-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
 }

 */




