:root{
    --font-style: "raleway", "sans-serif";
    
    --clr-Dark-Blue: #002856;
    --clr-Blue: #0093C9;
    --clr-Green: #80bc00;

    --clr-Orange: #FF4D00;
    --clr-Yellow: #FDE021;
    --clr-Black: #231F20;
    --clr-White: #FFFFFF;
    --clr-grey: #8d8d8d;
    
    --transition: all .3s ease-in-out;

    --clr-gradient: linear-gradient(90deg, #002856 0%, #0093C9 100%);





}

body{
    background: var(--clr-gradient);
}

a{
    color: var(--clr-Orange);
    text-decoration: none;
}

.gap{
    padding-top: 6rem;
}

.HeadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeadingRow{
    border-radius: 1.5rem;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--clr-Dark-Blue);
    gap: 1rem;
    padding-bottom: 1rem;
}

.HeadingCard{
    width: 90%;
    height: auto;
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: var(--clr-Green);
    align-items: center;
    padding-bottom: 1rem;
}

.HeadingCard h1{
    color: var(--clr-Blue);
    text-align: center;
    font-size: 3rem;
}

.HeadingCard p{
    text-align: center;
    color: var(--clr-Dark-Blue);
    font-size: 1.5rem;
    width: 90%;
}

.ImagesContainer{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImagesCardsRows{
    display: flex;
    flex-direction: row;
    padding-bottom: .5rem;
}

.ImageCard img{
    height: 350px;
    width: auto;
    border-radius: 1rem;
    padding-right: .5rem;
    transition: var(--transition);
}

.ImageCard img:hover{
    transition: var(--transition);
    transform: scale(1.02);
}