:root{
    --font-style: "raleway", "sans-serif";
    
    --clr-Dark-Blue: #002856;
    --clr-Blue: #0093C9;
    --clr-Green: #80bc00;

    --clr-Orange: #FF4D00;
    --clr-Yellow: #FDE021;
    --clr-Black: #231F20;
    --clr-White: #FFFFFF;
    --clr-grey: #8d8d8d;
    
    --transition: all .3s ease-in-out;

    --clr-gradient: linear-gradient(90deg, #002856 0%, #0093C9 100%);





}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: var(--font-style);
scroll-behavior: smooth;
}



/* END OF NAVBAR STYLING */
/* Sets the height of the image at the top of the page */
/* Page Wrapper */
.RoethDetailsWrapper{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;  /*height: 6rem;*/
    width: 100%; /*NEEDED!!!!!!!!!*/
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 1;
}
.RoethDetails{
    background: var(--clr-gradient);
}
/* Wrapper For Cards */
.CardsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Container For All Cards */
/* .RoethCardWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
} */
/* Reusable cards template */
.Cards{
    background: white;
    border-radius: 18px;
    padding: 30px 20px;
    box-shadow: 0 8px 20px var(--clr-grey);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 1rem;
    border-radius: 2rem;
    color: var(--clr-Black);
    justify-content: space-between;

}
.Cards img{
    border-radius: 2rem;
}
.Cards:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 30px var(--clr-Dark-Blue);
}
/* Container for all of the images at the top of the screen */
.RoethFirstImages{
    display: flex;
    justify-content: center;
    padding: 4.5rem 0 1rem 0;
}
.RoethFirstImages img{
    height: 500px;
    width: auto;
    padding: .3rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.RoethFirstImages img:hover{
    transition: var(--transition);
    transform: scale(1.02);
}
/* Start of Qualification Stuff***************************************************************************************** */
/* Card with his qualifications */
.RoethQualificationCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* height: fit-content;
    width: fit-content; */
}
.RoethQualificationCard h1{
    margin-bottom: .5rem;
}
.RoethQualificationCard a{
    color: var(--clr-Black);
    transition: var(--transition);
}
.RoethQualificationCard a:hover{
    transition: var(--transition);
    background-color: rgba(255,77,0,.5);
}
.RoethQualificationCard img{
    height: auto;
    width: 90%;
    text-align: center;
}
/* Start of Students Stuff***************************************************************************************** */
.StudentsSay{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.StudentsSay h2{
    margin-bottom: .5rem;
}
.StudentsSay h3{
    margin-bottom: .5rem;
}
/* Start of RoethMan Hobbies***************************************************************************************** */

.Hobbies{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* Start of Media Query***************************************************************************************** */

@media screen and (max-width:850px){
    .CardsWrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .Cards{
        width: 80%;
        margin-bottom: 1rem;
    }
    .Hobbies{
        text-align: center;
    }
    .RoethFirstImages{
        flex-direction: column;
        align-items: center;
    }
    .RoethFirstImages img{
        height: auto;
        width: 33%;
    }
}