:root{
    --font-style: "raleway", "sans-serif";
    
    --clr-Dark-Blue: #002856;
    --clr-Blue: #0093C9;
    --clr-Green: #80bc00;

    --clr-Oranage: #FF4D00;
    --clr-Yellow: #FDE021;
    --clr-Black: #231F20;
    --clr-White: #FFFFFF;
    --transition: all 0.3s ease-in-out;    
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: var(--font-style);
scroll-behavior: smooth;

}
#navbar_logo img {
    display: block;
    max-width: 10%;
    max-height: 70%;
    min-width: 8%;
    min-height: 65%;
    margin-left: 1rem;
}
/* NAVBAR */
/* GENERAL NAVBAR STYLING */
.navbar {
    width: 100%;
    height:4rem;
    background-color: #1e1e2f; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    font-family: var(--font-style);
    
}

/* NAVBAR WRAPPER */
.navbar_wrapper {
    height: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
#navbar_logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#navbar_logo:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.2);
}

#navbar_logo img {
    width: 50px;
    height: auto;
}

/* MOBILE MENU ICON */
.navbar_logo {
    display: none; /* Hide for desktop */
    flex-direction: column;
    cursor: pointer;
}


.navbar_logo .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* NAV MENU LINKS */
.navbar_menu_container {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: right;
    align-items: right;
    font-weight: 900;
}

.navbar_link_item {
    text-decoration: none;
    color: white;
    transition: 0.3s;

}

.navbar_link_item:hover {
    color: var(--clr-Green); /* Hover color */
    border-bottom: 2px solid var(--clr-Green);
    transform: scale(1.2);
}
/* ABOUT STYLING SECTION */
.About_Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    max-width: 64rem;
    margin: 0 auto;

}
.About_Card {
    background: white;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
 .About_Wrapper h2{
    font-size: 1.5rem;
    color: var(--clr-Dark-Blue);
}
.About_Wrapper p{
    font-size: 1rem;
    color: var(--clr-Black);
}
.About_Card:hover{
    transition: var(--transition);
    transform: scale(1.02);
    box-shadow: 0 15px 30px var(--clr-Dark-Blue);
}

/*  END OF ABOUT STYLING SECTION */
/* CAROUSEL STYLING */
 #carousel{
  width: 90vw;
  padding: 20px;
  display: grid;
  margin: 5rem;
  align-content: center;
  justify-content: center;
  gap: 4px;  

}

#carousel-control-prev{
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 3rem;
}




