:root{
    --font-style: "raleway", "sans-serif";
    
    --clr-Dark-Blue: #002856;
    --clr-Blue: #0093C9;
    --clr-Green: #80bc00;

    --clr-Orange: #FF4D00;
    --clr-Yellow: #FDE021;
    --clr-Black: #231F20;
    --clr-White: #FFFFFF;
    --clr-grey: #8d8d8d;
    
    --transition: all .3s ease-in-out;

    --clr-gradient: linear-gradient(90deg, #002856 0%, #0093C9 100%);





}

body{
    background-color: var(--clr-Dark-Blue);

}

