:root{
    --font-style: "raleway", "sans-serif";
    
    --clr-Dark-Blue: #002856;
    --clr-Blue: #0093C9;
    --clr-Green: #80bc00;

    --clr-Oranage: #FF4D00;
    --clr-Yellow: #FDE021;
    --clr-Black: #231F20;
    --clr-White: #FFFFFF;
    --clr-grey: #8d8d8d;
        





}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: var(--font-style);
scroll-behavior: smooth;

}
img{
    display: block;
    max-width: 10%;
    max-height: 70%;
    min-width: 8%;
    min-height: 65%;
    margin-left: 1rem;
}
/* NAVBAR */
.navbar{
    color: var(--clr-grey);
    height: 6rem;
    top: 0;
    font-size: 1.25rem;
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: center;
}
.navbar_wrapper{
   display: flex;
    justify-content : space-between;
    height: 100%; 
    width: 100%; 
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 1;
    background-color: var(--clr-Black);
}
.navbar_menu_container{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar_link{
    height: 100%;
    margin: 3rem;
    font-size: xx-large;
    text-decoration: none;
}
.navbar_link:nth-child(2){
    margin-right: 1rem;
}
.navbar_link_item{
    color: white;
    display : flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none; 
    width: 6rem;
    transition: all 0.3s ease;
}
#navbar_logo{
    color: var(--clr-White);
    background-size: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: x large;
    /*background*/
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#navbar_logo:hover{
   transition: all 0.5s ease-in-out;
   transform: scale(1.05);
}


.navbar_link_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% ;
    padding: 0 1rem;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    height: 50%;
}
.navbar_button:hover{
    color: rgb(15, 15, 15);
    transition: ease-in-out;
    transform: scale(1.1);
}
.navbar_link_item:hover{
    color: var(--clr-Blue);
    transition: ease-in-out;
    transform: scale(1.3);
}

/* Start of Cards Section */
.services_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--clr-white);
    background: linear-gradient(to bottom, #2e87ec, #113c8b);
    margin: 1.5rem;
    height: 20rem;
    width: 10rem;
    border-radius: .5rem;
    padding: .5rem;
    transition: var(--transition);
}
.Navigation_card:hover{
    background: linear-gradient(to bottom, #113c8b, #2e87ec);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
.services_card h2, .services_card p{
    /* margin: .5rem; */
    text-align : center;
    
}
.services_card p{
    margin-top: 1.25rem;

}
.services_button{
    display: flex;
    margin: 2rem;
    justify-content: center;

}
.services_button button{
    background-color: #0278ff;
    color: var(--clr-white);
    border-radius: .5rem;
    border: none;
    width : 100%;
    height: 3rem;
}

.services_card:last-child{
    background: linear-gradient(to left, #a6ffcb, #12d8fa, #1fa2ff);
}

.services_card:first-child{
    background: linear-gradient(to left, #00fff2, #2a3ef5, #26a5ff);
}
.services_card:nth-child(2){
    background: linear-gradient(to left, #a6ffcb, #12d8fa, #1fa2ff);
}
.services_card:nth-child(3){
    background: linear-gradient(to left, #00fff2, #2a3ef5, #26a5ff);
}
.services_wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--grad-reverse));
    height: 100%;
    padding: 6rem 0;
}

/* END OF SERVICES SECTION STYLING *****************************************************************************************/
